* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 20px;
    color: #ffffff;
    background-color: #202020;
    text-align: center;
    line-height: 1.75;
    margin: 0px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

a:link, a:visited {
    color: #ffdf6c;
    text-decoration: none;
    padding-bottom: 2px;
}

a:hover {
    color: #ffffff;
    cursor: pointer;
    border-bottom: none;
}

h1 {
    font-family: 'Alata', sans-serif;
    color: #ffffff;
}

h1 {
    font-size: 42px;
    margin-top: 25px;
}

h2 {
    font-family: 'Alata', sans-serif;
    font-size: 28px;
    padding: 10px 0px 10px 0px;
}

h3 {
    font-family: 'Alata', sans-serif;
    font-size: 24px;
}

p {
    margin: 0px 50px 10px 50px;
}
 
.section-title {
    font-size: 48px;
}

.techUsed {
    margin: 10px 50px 80px 50px;
}

button {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 12px;
    width: 160px;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 10px 10px 10px;
    color: #ffdf6c;
    border: 2px solid #ffdf6c;
    background: none;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    border-radius: 30px;
}

button:hover {
    color: #393f4d;
    border: 2px solid #ffdf6c;
    background-color: #ffdf6c;
}

ul {
    list-style: none;
    padding-left: 0;
}

.headline {
    background-color: #ffdf6c;
    padding: 20px;
    margin-bottom: 40px;
}

.headline-text {
    color: #202020;
}

.typewriterArea {
    display: block;
}

.headshotImage {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 50px;
    border-radius: 200px;
}

.heroImage {
    display: none;
    border-radius: 30px;
}

.heroImageMobile {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    opacity: .95;
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    border-radius: 30px;
}

.heroImageMobile:hover {
    cursor: pointer;
    opacity: 1;
}

article {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.logo {
    width: 50px;
    opacity: .8;
}

#contact {
    margin-bottom: 60px;
}

footer {
    color: #ffffff;
    background-color: #3f3f3f;
    padding: 50px 0px 30px 0px;
}

.footerLink:hover {
    border-bottom: none !important;
}

.toTop {
    color: #ffdf6c;
    border: 2px solid #ffdf6c;
    background: none;
}

.toTop:hover {
    color: #1d1e22;
    background-color: #ffdf6c;
}

.fab,
.fas {
    color: #ffdf6c;
    font-size: 34px;
    display: inline;
}

.fab:hover,
.fas:hover {
    color: #ffffff;
    cursor: pointer;
}

.siteIcons {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
}

.siteIcons i {
    padding: 5px;
}

.contactIcon {
    font-size: 48px;
    padding: 5px;
}

.fa-check-circle {
    margin-right: 10px;
}

.bullets {
    color: #dedede;
    line-height: 1.3em;
}

#testimonials {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    margin-bottom: 150px;
}

.testimonial {
    width: 100%;
    padding: 20px;
    margin: 0 20px 20px 20px;
    color: #202020;
    background-color: #ffdf6c;
    border-radius: 30px;
}

.testimonial-name {
    font-size: 22px;
    font-family: 'Alata', sans-serif;
    color: #000000;
    margin: 0;
}

.testimonial-title {
    font-size: 16px;
}

.testimonial-copy {
    line-height: 1.5em;
    font-size: 18px;
}

@media screen and (min-width: 600px) {
    nav {        
        display: inline-block;
    }

    .headshotImage {
        width: 240px;
        height: 240px;
    }

    .heroImageMobile {
        width: 420px;
    }

    article {
        width: 600px;
    }

    .techUsed {
        margin-bottom: 100px;
    }

    .techList li {
        display: inline-block;
        padding: 8px;
    }

    .siteIcons {
        width: 420px;
    }
}

@media screen and (min-width: 900px) {
    h1 {
        font-size: 48px;
        margin-top: 18px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 26px;
    }

    header {
        margin-left: 50px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

    nav {
        position: absolute;
        top: 20px;
        right: 50px;
        margin-bottom: 0;
    }

    .headline {
        text-align: left;
        margin-top: 10px;
        padding-left: 50px;
    }

    .typewriterArea {
        display: inline;
    }

    #projects {
        margin-top: 50px;
    }

    .bio {
        text-align: left;
        margin-right: 400px;
        margin-bottom: 0px;
    }

    .headshotImage {
        position: absolute;
        right: 60px;
        top: 310px;
    }

    article {
        width: 800px;
    }

    .heroImage {
        display: block;
        width: 576px;
        height: 422px;
        margin-left: auto;
        margin-right: auto;
        opacity: .8;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    
    .heroImage:hover {
        cursor: pointer;
        opacity: 1;
    }

    .heroImageMobile {
        display: none;
    }

    .techUsed {
        margin-top: 40px;
        margin-bottom: 120px;
    }

    #contact {
        margin-bottom: 100px;
    }

    .siteIcons {
        width: 576px;
        margin-top: 10px;
    }

    .fas {
        font-size: 38px;
    }

    .contactIcon {
        font-size: 56px;
        padding: 10px;
    }

    #testimonials {
        width: 60%;
    }

    .testimonial {
        padding: 40px;
    }
}

@media screen and (min-width: 1280px) {
    #projects {
        margin-top: 100px;
    }

    .headline {
        margin-right: 445px;
        margin-bottom: 40px;
        border-radius: 0 30px 30px 0;
    }

    .bio {
        margin-right: 480px;
        margin-bottom: 50px;
    }

    p {
        margin: 0px 30px 20px 50px;
    }

    .headshotImage {
        position: absolute;
        right: 60px;
        top: 130px;
        width: 345px;
        height: 345px;
        margin-top: 0;
        border-radius: 30px;
    }

    article {
        margin-left: 60px;
        margin-right: 900px;
        text-align: left;
        width: 45%;
    }

    article ul {
        margin-left: 40px;
    }

    .projectTitle {
        margin-left: 50px;
        margin-top: 0;
        padding-top: 0;
    }

    .siteIcons {
        position: absolute;
        right: 60px;
        top: auto;
        margin-top: 453px;
    }

    .heroImage {
        position: absolute;
        right: 60px;
        top: auto;
        margin-top: 20px;
    }

    .techUsed {
        text-align: left;
        margin-bottom: 140px;
        margin-left: 110px;
    }

    #testimonials {
        margin-bottom: 150px;
        width: 800px;
    }
    
    .testimonial {
        width: 100%;
        padding: 50px;
        margin: 20px;
        text-align: left;
    }

    .testimonial-name {
        margin: 0 0 0 50px;
    }

    .testimonial-copy {
        line-height: 1.5em;
        font-size: 20px;
    }
}

@media screen and (min-width: 1480px) {
    .siteIcons {
        position: absolute;
        top: auto;
        margin-top: 500px;
    }

    .heroImage {
        width: 640px;
        height: 469px;
    }
}

@media screen and (min-width: 1600px) {
    article {
        width: 50%;
    }

    .siteIcons {
        margin-top: 544px;
    }

    .heroImage {
        width: 700px;
        height: 513px;
    }
}