* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 22px;
    color: #5b5b58;
    background-color: #f2f3f0;
    text-align: center;
    line-height: 1.75;
    margin: 0px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

a:link, a:visited {
    color: #5b5b58;
    text-decoration: none;
    border-bottom: 2px solid #5b5b58;
    padding-bottom: 2px;
}

a:hover {
    color: #353532;
    cursor: pointer;
    border-bottom: none;
}

h1 {
    font-family: 'Alata', sans-serif;
    color: #3b4660;
}

h1 {
    font-size: 48px;
    margin-top: 25px;
}

h2 {
    font-family: 'Alata', sans-serif;
    font-size: 38px;
    padding: 10px 0px 10px 0px;
    color: #ed8a63;
}

h3 {
    font-size: 26px;
}

p {
    margin: 0px 50px 30px 50px;
}

button {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px;
    width: 200px;
    font-size: 24px;
    cursor: pointer;
    margin: 10px;
    color: #3b4660;
    border: 2px solid #3b4660;
    background: none;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

button:hover {
    color: #ed8a63;
    border: 2px solid #3b4660;
    background-color: #3b4660;
}

ul {
    display: block;
    list-style: none;
    padding-left: 0;
}

.headline {
    background-color: #3b4660;
    padding: 20px;
    margin-bottom: 60px;
}

.headshotImage {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.heroImage {
    display: none;
}

.heroImageMobile {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    opacity: .9;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.heroImageMobile:hover {
    cursor: pointer;
    opacity: 1;
}

article {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 60px;
}

.github {
    padding: 5px;
}

.githubLogo {
    padding-right: 10px;
    padding-bottom: 5px;
    vertical-align: middle;
    width: 60px;
    opacity: .8;
}

.logo {
    width: 50px;
    opacity: .8;
}

.githubLogo:hover,
.logo:hover {
    opacity: 1;
    cursor: pointer;
}

.techList {
    font-size: 20px;
}

#contact {
    margin-bottom: 60px;
}

footer {
    color: #ed8a63;
    background-color: #3b4660;
    padding: 40px 0px 10px 0px;
}

.footerLink {
    color: #ed8a63 !important;
    border-bottom: 2px solid #ed8a63 !important;
}

.footerLink:hover {
    border-bottom: none !important;
}

.toTop {
    color: #ed8a63;
    border: 2px solid #ed8a63;
    background: none;
}

.toTop:hover {
    color: #3b4660;
    background-color: #ed8a63;
}

@media screen and (min-width: 600px) {
    .heroImageMobile {
        width: 420px;
    }

    article {
        width: 600px;
        margin-bottom: 60px;
    }

    #contact li, article li {
        display: inline-block;
        padding: 0px 10px 10px 10px;
    }
}

@media screen and (min-width: 900px) {
    header {
        margin-left: 50px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

    nav {
        position: absolute;
        top: 18px;
        right: 20px;
        display: inline-block;
        margin-bottom: 0;
    }

    #projects {
        margin-top: 50px;
    }

    .bio {
        text-align: left;
        margin-right: 400px;
        margin-bottom: 0px;
    }

    .headshotImage {
        position: absolute;
        right: 30px;
        top: 350px;
    }

    article {
        width: 800px;
    }

    .heroImage {
        display: block;
        width: 720px;
        height: 480px;
        margin-left: auto;
        margin-right: auto;
        opacity: .85;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    
    .heroImage:hover {
        cursor: pointer;
        opacity: 1;
    }

    .heroImageMobile {
        display: none;
    }

    .github {
        display: inline;
    }
}

@media screen and (min-width: 1400px) {
    #projects {
        margin-top: 100px;
    }

    .headline {
        text-align: left;
        padding-left: 50px;
        margin-right: 540px;
        margin-bottom: 40px;
    }

    .bio {
        margin-right: 540px;
        margin-bottom: 50px;
    }

    p {
        margin: 0px 30px 30px 50px;
    }

    .headshotImage {
        position: absolute;
        right: 30px;
        top: 120px;
        width: 425px;
        height: 425px;
    }

    article {
        margin-left: 60px;
        margin-right: 940px;
        margin-bottom: 200px;
        text-align: left;
        width: 40%;
        height: 650px;
    }

    article ul {
        margin-left: 40px;
    }

    .projectTitle, .techUsed {
        margin-left: 50px;
    }

    .heroImage {
        position: absolute;
        right: 30px;
        top: auto;
    }

    .githubLogo {
        margin-left: 50px;
    }
}

@media screen and (min-width: 1600px) {
    article {
        height: 580px;
    }

    .heroImage {
        width: 840px;
        height: 560px;
    }
}