* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 18px;
    color: #ffffff;
    background-color: #202020;
    text-align: center;
    line-height: 1.75;
    margin: 0px;
    width: 100%;
}

html {
    width: 100%;
}

nav {
    margin: 0 0 20px 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-height: 120px;
    width: 100%;
    margin: 0;
    background-color: #ffdf6c;
    z-index: 2;
    overflow: hidden;
}

a:link, a:visited {
    color: #ffdf6c;
    text-decoration: none;
    padding-bottom: 2px;
}

a:hover {
    color: #ffffff;
    cursor: pointer;
    border-bottom: none;
}

h1 {
    font-family: 'Alata', sans-serif;
    color: #202020;
}

h1 {
    font-size: 42px;
    margin-top: 25px;
}

h2 {
    font-family: 'Alata', sans-serif;
    font-size: 28px;
    padding: 10px 0px 10px 0px;
}

h3 {
    font-family: 'Alata', sans-serif;
    font-size: 24px;
}

p {
    margin: 0px 30px 10px 30px;
}

.bioFull {
    display: none;
}

.section-title {
    font-size: 48px;
    margin: 30px 0 30px 0;
}

.techUsed {
    margin: 10px 50px 100px 50px;
}

button {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    margin: 5px;
    color: #202020;
    border: 2px solid #202020;
    background: none;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    border-radius: 30px;
}

button:hover {
    color: #ffdf6c;
    background-color: #202020;
}

ul {
    list-style: none;
    padding-left: 0;
}

.headline {
    background-color: #ffdf6c;
    min-height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.slider {
    background-color: #202020;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    transform: translateY(100%);
}

.headline-text {
    color: #202020;
    font-size: 30px;
    line-height: 1.2em;
    margin: 0 30px 10px 30px;
    overflow: hidden;
}

.bio {
    color: #202020;
    margin: 0 30px 0 30px;
    overflow: hidden;
}

.heroImage {
    display: none;
}

.heroImageMobile {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    opacity: .95;
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    border-radius: 20px;
}

.heroImageMobile:hover {
    cursor: pointer;
    opacity: 1;
}

article {
    margin-left: auto;
    margin-right: auto;
}

.logo {
    color: #202020;
    margin: 5px 0 5px 0;
    padding: 0;
    font-size: 28px !important;
    transform: translateY(210%);
}

.buttonHeader {
    transform: translateY(210%);
}

#contact {
    margin-bottom: 60px;
}

footer {
    color: #ffffff;
    background-color: #3f3f3f;
    padding: 50px 0px 30px 0px;
}

.footerLink:hover {
    border-bottom: none !important;
}

.toTop {
    color: #ffdf6c;
    border: 2px solid #ffdf6c;
    background: none;
}

.toTop:hover {
    color: #1d1e22;
    background-color: #ffdf6c;
}

.fab,
.fas {
    color: #ffdf6c;
    font-size: 34px;
    display: inline;
}

.fab:hover,
.fas:hover {
    color: #ffffff;
    cursor: pointer;
}

.siteIcons {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
}

.siteIcons i {
    padding: 5px;
}

.contactIcon {
    font-size: 48px;
    padding: 5px;
}

.fa-check-circle {
    margin-right: 10px;
}

.bullets {
    color: #dedede;
    line-height: 1.3em;
}

#testimonials {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    margin-bottom: 150px;
}

.testimonial {
    width: 100%;
    padding: 20px;
    margin: 0 20px 20px 20px;
    color: #202020;
    background-color: #ffdf6c;
    border-radius: 20px;
}

.testimonial-name {
    font-size: 22px;
    font-family: 'Alata', sans-serif;
    color: #000000;
    margin: 0;
}

.testimonial-title {
    font-size: 16px;
}

.testimonial-copy {
    margin: 0px 40px 10px 40px;
    line-height: 1.5em;
    font-size: 18px;
}

.testimonial-source {
    position: relative;
    top: 40px;
}

@media screen and (min-width: 520px) {
    .logo {
        margin: 0 0 5px 60px;
        transform: translateY(140%);
    }

    .buttonHeader {
        transform: translateY(140%);
    }

    nav {        
        display: inline-block;
        margin: 0 55px 0 0;
    }

    header {
        height: 60px;
        flex-direction: row;
    }

    .headline-text {
        margin: 0 30px 10px 60px;
    }

    .bio {
        margin: 0 30px 0 60px;
    }
}

@media screen and (min-width: 600px) {
    .logo {
        font-size: 32px !important;
    }

    header {
        height: 80px;
    }

    button {
        padding: 12px;
        width: 120px;
        font-size: 18px;
        margin: 5px;
    }

    .headline-text {
        font-size: 36px;
    }

    .heroImageMobile {
        width: 420px;
    }

    article {
        width: 600px;
    }

    .techList li {
        display: inline-block;
        padding: 8px 8px 8px 0;
    }

    .siteIcons {
        width: 420px;
    }
}

@media screen and (min-width: 900px) {
    body {
        font-size: 20px;
    }

    h1 {
        font-size: 48px;
        margin-top: 18px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 26px;
    }

    .headline-text {
        font-size: 40px;
        margin: 0 60px 20px 60px;
    }

    .bioFull {
        display: inline;
    }

    button {
        font-size: 20px;
        padding: 16px;
        width: 140px;
        margin: 5px 5px 5px 20px;
    }

    header {
        height: 100px;
    }

    #projects {
        margin-top: 50px;
    }

    .bio {
        text-align: left;
    }

    article {
        width: 800px;
    }

    .heroImage {
        display: block;
        width: 576px;
        height: 422px;
        margin-left: auto;
        margin-right: auto;
        opacity: .9;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    
    .heroImage:hover {
        cursor: pointer;
        opacity: 1;
    }

    .heroImageMobile {
        display: none;
    }

    .techUsed {
        margin-top: 40px;
        margin-bottom: 120px;
    }

    #contact {
        margin-bottom: 100px;
    }

    .siteIcons {
        width: 576px;
        margin-top: 10px;
    }

    .fas {
        font-size: 38px;
    }

    .contactIcon {
        font-size: 56px;
        padding: 10px;
    }

    #testimonials {
        width: 60%;
    }

    .testimonial {
        padding: 40px;
        border-radius: 30px;
    }
}

@media screen and (min-width: 1280px) {
    #projects {
        margin-top: 70px;
    }

    .headline-text {
        font-size: 52px;
        margin: 0 60px 20px 60px;
    }

    .bio {
        margin: 0 60px 0 60px;
        width: 1150px;
    }

    p {
        margin: 0px 30px 20px 50px;
    }

    article {
        margin-left: 60px;
        margin-right: 900px;
        text-align: left;
        width: 45%;
    }

    article ul {
        margin-left: 40px;
    }

    .projectTitle {
        margin-left: 50px;
        margin-top: 0;
        padding-top: 0;
    }

    .siteIcons {
        position: absolute;
        right: 60px;
        top: auto;
        margin-top: 453px;
    }

    .heroImage {
        position: absolute;
        right: 60px;
        top: auto;
        margin-top: 20px;
    }

    .techUsed {
        text-align: left;
        margin-bottom: 140px;
        margin-left: 110px;
    }

    #testimonials {
        margin-bottom: 150px;
        width: 800px;
    }
    
    .testimonial {
        width: 100%;
        padding: 50px;
        margin: 20px;
        text-align: left;
    }

    .testimonial-name {
        margin: 0 0 0 50px;
    }

    .testimonial-copy {
        line-height: 1.5em;
        font-size: 20px;
    }
}

@media screen and (min-width: 1480px) {
    .headline-text {
        font-size: 60px;
        margin: 0 0 20px 10%;
    }

    .bio {
        margin: 0 60px 0 10%;
    }

    .siteIcons {
        position: absolute;
        top: auto;
        margin-top: 500px;
    }

    .heroImage {
        width: 640px;
        height: 469px;
    }
}

@media screen and (min-width: 1600px) {
    article {
        width: 50%;
    }

    .siteIcons {
        margin-top: 544px;
    }

    .heroImage {
        width: 700px;
        height: 513px;
    }
}