* {
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 22px;
    color: #595652;
    background-color: #D8D9D0;
    text-align: center;
    line-height: 1.75;
    margin: 0px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

a:link, a:visited {
    color: #595652;
    text-decoration: none;

}

a:hover {
    color: #05386B;
    cursor: pointer;
    text-decoration: underline;
}

h1, h2 {
    font-family: 'Cardo', serif;
    color: #05386B;
}

h2 {
    padding: 10px 0px 10px 0px ;
}

p {
    margin: 0px 50px 30px 50px;
}

button {
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px;
    width: 200px;
    font-size: 24px;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
}

ul {
    display: block;
    list-style: none;
    padding-left: 0;
}

.buttonProjects {
    color: #595652;
    border: 2px solid #595959;
    background: none;
}

.buttonProjects:hover {
    color: #05386B;
    border: 2px solid #05386B;
}

.buttonContact {
    color: #D8D9D0;
    border: 2px solid #595959;
    background-color: #595959;
}

.buttonContact:hover {
    border: 2px solid #05386B;
    background-color: #05386B;
}

.headline {
    background-color: #D9A23D;
    padding: 20px;
    margin-bottom: 60px;
}

.headshotImage {
    background-color: #999;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.heroImage {
    background-color: #999;
    width: 320px;
    height: 213px;
    margin-left: auto;
    margin-right: auto;
}

.heroImage:hover {
    cursor: pointer;
}

article {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 60px;
}

.githubLogo {
    padding-right: 10px;
    padding-bottom: 5px;
    vertical-align: middle;
    width: 50px;
}

#contact {
    margin-bottom: 60px;
}

footer {
    background-color: #D9A23D;
    padding: 40px 0px 10px 0px;
}

.toTop:hover {
    color: #05386B;
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (min-width: 600px) {
    .heroImage {
        width: 600px;
        height: 400px;
    }

    article {
        width: 600px;
        margin-bottom: 60px;
    }

    #contact li, article li {
        display: inline-block;
        padding: 0px 10px 10px 10px;
    }
}

@media screen and (min-width: 900px) {
    header {
        margin-left: 50px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

    nav {
        position: absolute;
        top: 18px;
        right: 20px;
        display: inline-block;
        margin-bottom: 0;
    }

    .bio {
        text-align: left;
        margin-right: 400px;
        margin-bottom: 0px;
    }

    .headshotImage {
        position: absolute;
        right: 30px;
        top: 350px;
    }

    article {
        width: 800px;
    }

    .heroImage {
        width: 800px;
        height: 533px;
    }
}

@media screen and (min-width: 1600px) {
    .headline {
        text-align: left;
        padding-left: 50px;
        margin-right: 540px;
        margin-bottom: 40px;
    }

    .bio {
        margin-right: 540px;
        margin-bottom: 50px;
    }

    p {
        margin: 0px 30px 30px 50px;
    }

    .headshotImage {
        position: absolute;
        right: 30px;
        top: 120px;
        width: 427px;
        height: 427px;
    }

    article {
        margin-left: 60px;
        margin-right: 940px;
        margin-bottom: 200px;
        text-align: left;
        width: 40%;
    }

    article ul {
        margin-left: 40px;
    }

    .projectTitle, .techUsed {
        margin-left: 50px;
    }

    .heroImage {
        position: absolute;
        right: 30px;
        top: auto;
        width: 840px;
        height: 560px;
    }

    .githubLogo {
        margin-left: 50px;
    }
} 